<div class="conteudo">    
    <div class="conteudo_titulo">
        <h1>Cadastrar Nova Categoria</h1>
    </div>
    <hr/>
    <br>
    <% if notice %>
        <div class="alert alert-success" role="alert">
            <%= notice %>
        </div>
    <% end %> 

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                    <!-- Se você tiver mais colunas, adicione aqui -->
                </tr>
            </thead>
            <tbody>
                <% @categorias.each do |categoria| %>
                    <tr>
                        <td><%= categoria.nome %></td>
                        <td>
                            <%= link_to 'Editar', edit_categoria_path(categoria), class: 'btn btn-primary' %>
                        </td>
                        <td>
                            <%= button_to 'Excluir', delete_categoria_path(categoria), method: :delete, data: { confirm: 'Tem certeza que deseja excluir esta categoria?' }, class: 'btn btn-danger' %>
                        </td>
                        <!-- Se você tiver mais colunas, adicione aqui -->
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>