body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .header {
    background-color: #7BB4E3;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .header h1 {
    margin: 0;
  }
  .sidebar {
    background-color: #A3CEEF;
    padding: 20px;
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100%;
    overflow-y: auto;
  }

  .conteudo {
    margin-left: 250px; /* Largura da barra lateral */
    padding: 40px; /* Espaçamento interno do conteúdo */
    margin-top: 50px;
  }

  .conteudo_titulo {
    display: flex;
    justify-content: center;
}

.conteudo_infos{
    margin-top: 20px;
    display: flex;
}